body {
  background-color: dimgray;
}

.center {
  display: flex;
  justify-content: center;
}

.container {
  text-align: center;
  border: 1px solid lightgrey;
  width: 500px;
  height: 300px;
}

.header {
  padding: 1.2em;
  background-color: cornflowerblue;
}

.footer {
  padding: 1.2em;
  background-color: cornflowerblue;
}

.content {
  padding: 5.2em;
}

.button {
  border-radius: 10px;
  outline: none;
  padding: 0.4rem 2.3rem;
  transition: 0.2s;
  cursor: pointer;
}

.button:hover {
  background-color: bisque;
}
